// ==========================================================================
// General Fishtripr Template
// ==========================================================================

//  1. Reset
// ==========================================================================

@import 'common/reset';

//  2. Vaiables
// ==========================================================================

@import 'common/variables';

//  3. Spacing
// ==========================================================================

@import 'common/spacing';

//  4. Layout
// ==========================================================================

@import 'common/layout';

//  5. Font
// ==========================================================================

@import 'common/typography';

//  6. Element-UI 
// ==========================================================================

// Override element-ui variables

$--font-path: '~element-ui/lib/theme-chalk/fonts'; // icon font path, required 
$--color-primary: map-get($colors, "primary");

@import "./common/elementUiSource/src/index";

.el-button {
  // @include typo-base($fw-m, map-get($fs-text, 4), map-get($lh-text, 4))
}
.el-dialog__body {
  height: 100%;
}

//  7. Global
// ==========================================================================

*,
body,
html {
  font-family: $ff;
}

html, body, #__nuxt, #__layout, main, header, footer, #nuxt-container {
  // background-color: blue;
  // margin: 0 !important;
  // padding: 0 !important;
}

// 8. Diverses
// ==========================================================================

.bordered {
  border: 1px solid map-get($colors, "border");
}
.bordered-t {
  border-top: 1px solid map-get($colors, "border");
}
.bordered-r {
  border-right: 1px solid map-get($colors, "border");
}
.bordered-b {
  border-bottom: 1px solid map-get($colors, "border");
}
.bordered-l {
  border-left: 1px solid map-get($colors, "border");
}

.txt-ctr {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-ctr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-row-sp-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-row-sp-btw-ctr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

.separator {
  width: 100%;
  border-color: map-get($colors, "border");
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 25px 0;
}
.separator-light {
  width: 100%;
  border-color: map-get($colors, "border-light");
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 25px 0;
}
.separator-white {
  width: 100%;
  border-color: map-get($colors, "border-white");
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 25px 0;
}

.success {
  color: map-get($colors, "success")
}
.danger {
  color: map-get($colors, "danger")
}
.warning {
  color: map-get($colors, "warning")
}
.info {
  color: map-get($colors, "info")
}

.bg-dark {
  background-color: map-get($colors, "background-dark");
}
.bg-light {
  background-color: map-get($colors, "background-light");
}
.bg-white {
  background-color: map-get($colors, "background-white");
}

.shadowed {
  box-shadow: 0 2px 15px 0 rgba(69, 73, 91, 0.18);
}

.guide_hosting { color: $tag-guideNHost }
.guide { color: $tag-guide }
.hosting { color: $tag-host }
.fishery { color: $tag-fishery }
.charter { color: $tag-charter }

.callto-link {
  background-color: white;
  padding: 20px;
}