// ==========================================================================
// Spacing
// ==========================================================================

//  1. Margin
// ==========================================================================

@each $size in map-keys($spacers) {
  @each $direction in "t", "b", "l", "r", "x", "y" {

    $value: map-get($spacers, $size);

    @if $direction == "x" {
      .m#{$direction}-#{$size} {
        margin-left: $value;
        margin-right: $value;
      }
    } @else if $direction == "y" {
      .m#{$direction}-#{$size} {
        margin-top: $value;
        margin-bottom: $value;
      }
    } @else if $direction == "t" {
      .m#{$direction}-#{$size} {
        margin-top: $value;
      }
    } @else if $direction == "b" {
      .m#{$direction}-#{$size} {
        margin-bottom: $value;
      }
    } @else if $direction == "l" {
      .m#{$direction}-#{$size} {
        margin-left: $value;
      }
    } @else if $direction == "r" {
      .m#{$direction}-#{$size} {
        margin-right: $value;
      }
    }
    
  }
}

.mx-auto { margin: 0 auto }

//  1. Padding
// ==========================================================================

@each $size in map-keys($spacers) {
  @each $direction in "t", "b", "l", "r", "x", "y" {

    $value: map-get($spacers, $size);

    @if $direction == "x" {
      .p#{$direction}-#{$size} {
        padding-left: $value;
        padding-right: $value;
      }
    } @else if $direction == "y" {
      .p#{$direction}-#{$size} {
        padding-top: $value;
        padding-bottom: $value;
      }
    } @else if $direction == "t" {
      .p#{$direction}-#{$size} {
        padding-top: $value;
      }
    } @else if $direction == "b" {
      .p#{$direction}-#{$size} {
        padding-bottom: $value;
      }
    } @else if $direction == "l" {
      .p#{$direction}-#{$size} {
        padding-left: $value;
      }
    } @else if $direction == "r" {
      .p#{$direction}-#{$size} {
        padding-right: $value;
      }
    }
    
  }
}
